
<section class="mainPage">
    <div class="mainPage-content-banner">

      <img src="/img/banner.webp" alt="" style="margin-top: 75px; width: 100%;">
    </div>
    {{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
					{{{flashMessages messages.info}}}
			</div>
			{{/if}}
			{{#if messages.success}}
			<div class="alert alert-success">
					{{{flashMessages messages.success}}}
			</div>
			{{/if}}
			{{#if messages.warning}}
			<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
			</div>
			{{/if}}
			{{#if messages.error}}
			<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
    <div class="container mainPage-content">
        <div class="row">

            <div class="col-lg-12  mainPage-content-left">
              <form class="index__header__form__search" role="search" action="/search" method="GET">
      					<div class="">
      						<input type="text" id="keywords" name="keywords" class="index__header__form__search__input" placeholder="Поиск по сайту">
      						<button type="submit" class="index__header__form__search__btn">
                    <img class="index__header__form__search__btn__img" src="/img/search64.png" alt="">
                  </button>
      					</div>
      				</form>

                <div class="mainPage-content-news">

                    <h2 class="col-lg-12  col-md-12  newsName">Новости</h2>
                    <div class="no-gutters">
                        {{#each bignews}}

                          <div class="col-lg-8 col-md-12 bigNews" style="background: url({{{image.secure_url}}}) center center no-repeat;background-size: cover;padding-top:0px;">

                            <a class="bigNews__a" href="{{postUrl slug}}"></a>

                              <div class="bigNews__linear__gradient">
                                <div class="bigNews__category__link">{{categoryList rubrics}}</div>
                                  <img src="/img/fire.png" class="fireNews" alt="">

                                  <div class="bigNewsBlock">
                                    <h2 class="bigNewsBlock__title"><a class="bigNewsBlock__title__a" href="{{postUrl slug}}">{{{title}}}</a></h2>
                                      <div class="bigNewsBlockDesc" style="margin-bottom: 20px;">
                                          {{kratkoe}}
                                      </div>
                                  </div>
                             </div>
                          </div>

                        {{/each}}
                        <div class="col-lg-4 col-md-12 ">
                            {{#each smallnews}}

                              <div class="smallNews" style="background: url({{{image.secure_url}}}) center center no-repeat;background-size: cover;padding-top:0px;padding-bottom:0;">
                                <div class="smallNews__category__link">{{categoryList rubrics}}</div>
                                <a class="smallNews__a smallNewsBlockNameA" href="{{postUrl slug}}">{{{title}}}</a>
                                  <div style="background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.91) 88%, rgb(0, 0, 0) 100%);width: 100%;height: 100%;padding:0;" class="smallNews__item">

                                  </div>
                              </div>

                            {{/each}}
                            <div class="reclam__mobile__blog">
                              <!-- Yandex.RTB R-A-484761-3 -->
                              <div id="yandex_rtb_R-A-484761-3"></div>
                              <script type="text/javascript">
                          			(function(w, d, n, s, t) {
                          					w[n] = w[n] || [];
                          					w[n].push(function() {
                          							Ya.Context.AdvManager.render({
                          									blockId: "R-A-1284495-1",
                          									renderTo: "yandex_rtb_R-A-1284495-1",
                          									async: true
                          							});
                          					});
                          					t = d.getElementsByTagName("script")[0];
                          					s = d.createElement("script");
                          					s.type = "text/javascript";
                          					s.src = "//an.yandex.ru/system/context.js";
                          					s.async = true;
                          					t.parentNode.insertBefore(s, t);
                          			})(this, this.document, "yandexContextAsyncCallbacks");
                          		</script>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="col-lg-12  mainPage-content-left" style="margin-top: 5px;">

            <div class="mainPage-content-news">
                <div class="no-gutters">
                  <div class="col-lg-4 col-md-12 ">
                    <h2 class="newsPage__rubricsBlock__name" style="margin-left:0;padding-left:0;text-align:left;">Рубрики новостей</h2>
                    <ul class="newsPage__rubricsBlock__spis" style="padding-left:0;">
                      <li class="newsPage__rubricsBlock__spis__li " style="padding-left:0;padding-top:22px;">
                          <label for="Все рубрики" class="count__index__category__label"> <a class="count__index__category__link" id="activeNews" href="/news">Все новости</a> <span class="badge badge-icon count__index__category">{{Postcountresult.length}}</span></label>
                      </li>
                        {{#each data.categories}}


                        <li class="newsPage__rubricsBlock__spis__li" style="padding-left:0;padding-top:22px;">
                            <label for="{{{name}}}" class="count__index__category__label"> <a class="count__index__category__link" href="/news/{{key}}">{{{name}}}</a> <span class="badge badge-icon count__index__category">{{postCount}}</span></label>
                        </li>


                        {{/each}}
                    </ul>
                  </div>
                    {{#each othernews}}
                      <div class="">
                        <div class="col-lg-8 col-md-12 bigNews2" style="background: url({{{image.secure_url}}}) center center no-repeat;background-size: cover;padding-top:0px;">
                          <a class="bigNews__a" href="{{postUrl slug}}"></a>
                            <div style="background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.91) 88%, rgb(0, 0, 0) 100%);width: 100%;height: 100%;">
                              <div class="smallnews2__category__link">{{categoryList rubrics}}</div>
                                <div class="bigNewsBlock">
                                  <h2 class="bigNewsBlock__title"><a class="bigNewsBlock__title__a" href="{{postUrl slug}}">{{{title}}}</a></h2>
                                    <div class="bigNewsBlockDesc" style="margin-bottom: 20px;">
                                        {{kratkoe}}
                                    </div>
                                </div>
                           </div>
                        </div>
                      </div>
                    {{/each}}
                    <div class="reclam__mobile__blog">
                      <!-- Yandex.RTB R-A-484761-4 -->
                        <div id="yandex_rtb_R-A-484761-4"></div>
                        <script type="text/javascript">
                            (function(w, d, n, s, t) {
                                w[n] = w[n] || [];
                                w[n].push(function() {
                                    Ya.Context.AdvManager.render({
                                        blockId: "R-A-484761-4",
                                        renderTo: "yandex_rtb_R-A-484761-4",
                                        async: true
                                    });
                                });
                                t = d.getElementsByTagName("script")[0];
                                s = d.createElement("script");
                                s.type = "text/javascript";
                                s.src = "//an.yandex.ru/system/context.js";
                                s.async = true;
                                t.parentNode.insertBefore(s, t);
                            })(this, this.document, "yandexContextAsyncCallbacks");
                        </script>
                    </div>
                </div>
            </div>

    </div>
    <div class="col-lg-12 afishaIndex">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Блок на главной -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-6636788620742177"
           data-ad-slot="8334847834"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <h2 class="articleName">Афиша мероприятий в Бобруйске на сегодня</h2>
      <div class="articleName__sub__container">
        <p class="articleName__sub">Всего мероприятий на сегодня - {{data.afishaIndex.length}}</p>
        <div class="articleName__line__icon">
          <span class="glyphicon glyphicon-chevron-left prev__index__afish" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-chevron-right next__index__afish" aria-hidden="true"></span>
        </div>
      </div>


      <div class="afishaIndex__container">
        {{#each data.afishaIndex}}
        <div class="afishaIndex__item" onclick="location.href = '{{postUrl slug}}'">
          <div class="afishaIndex__item__sectionAfisha" style="background: {{sectionAfisha.color}};">
            <p class="afishaIndex__item__sectionAfisha__title">{{sectionAfisha.name}}</p>
          </div>
          <div class="afishaIndex__item__foto">
            <img class="afishaIndex__item__foto__img" src="{{#if image.secure_url}}{{{image.secure_url}}}{{else}}/img/fonafisha.webp{{/if}}" alt="">
            <div class="afishaIndex__item__foto__shadow" style="box-shadow: inset -1px -108px 30px -20px {{sectionAfisha.color}};">
              <h2 class="afishaIndex__item__title">{{title}}</h2>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
        <div class="col-lg-12 articleIndex">
          <h2 class="articleName">Статьи</h2>
          <div class="col-lg-9 articleName__row">
            <div class="mainPage-content-articles">

                <div class="d-flex articleContainer">
                    {{#each data.posts}}
                    {{#if articl}}
                    <div class="article" itemscope itemtype="https://schema.org/Article">
                        <div class="articlePage__left__content__item__img ">
                            {{#if image}}
                            <a class="articlePage__left__content__item__img__a" style="height: 167px;" href="{{postUrl slug}}"><img itemprop="image" class="articlePage__left__content__item__img__a__img" src="{{image.secure_url}}"></a>
                            {{/if}}
                            <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                              <meta itemprop="url" content="https://bobrdeti.by">
                              <meta itemprop="name" content="Bobrdeti.by">
                              <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject" style="width:0;">
                                  <img  itemprop="contentUrl" src="https://bobrdeti.by/img/logo.png" style="width:100%;" alt="Logo Svsites">
                                  <meta itemprop="width" content="267">
                                  <meta itemprop="height" content="44">
                                  <meta itemprop="name" content="Bobrdeti.by">
                                  <meta itemprop="url" content="https://bobrdeti.by/img/logo.png">
                              </div>
                            </div>
                        </div>
                        <meta {{#if postAutor}}itemprop="author" content="{{postAutor}}"{{else}}itemprop="author" content="Bobr Deti"{{/if}}>
                        <h2 itemprop="headline" class="articleBlockName"><a itemprop="mainEntityOfPage" itemprop="url" href="{{postUrl slug}}">{{title}}</a></h2>
                        <div class="articlePage__left__content__item__desc" style="padding: 0 10px 15px 10px;" itemprop="description">
                          {{#if kratkoe}}
                            {{kratkoe}}
                          {{else}}
                            {{{content}}}
                          {{/if}}
                        </div>
                        <meta itemprop="datePublished" content="{{moment publishedDate}}">
                        <meta itemprop="dateModified" content="{{moment publishedDate}}">
                        {{#each categories}}
                        <div class="article__postCategories">
                            <a href="/article/{{key}}">{{name}}</a>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{/each}}
                </div>

                <div class="loadMore__href__container">
                  <a href="" class="loadMore__href" style="display:flex;">
                      <h2>Загрузить еще</h2>
                      <div><i class="fa fa-chevron-down"></i></div>
                  </a>
                </div>
                <div class="loadMore__href__container__link">
                  <a href="/article" class="loadMore__href" style="display:flex;">
                      <h2>Перейти в статьи</h2>
                  </a>
                </div>
            </div>
          </div>
          <div class="col-lg-3 offset-lg-0 mainPage-content-right">
            <div class="category__article__index">
              <h2 class="articlePage__rubricsBlock__name">Категории статей</h2>
              {{#each data.category}}

                <div class="articlePage__rubricsBlock__name__col">
                  <a class="articlePage__rubricsBlock__name__col__link" href="/article/{{key}}">
                    <span class="badge badge-icon articlePage__rubricsBlock__name__col__span">{{articlCount}}</span>{{name}}</a>


                    <div class="articlePage__rubricsBlock__name__col__subcategories">
                      {{#each subcategories}}
                      <li class="subcotegory__article__index__li" style="margin-top:10px;">
                        <a class="subcotegory__article__index__link" href="{{subcategoryUrl ../key key}}">{{{name}}}</a>
                      </li>
                      {{/each}}
                    </div>




                </div>

              {{/each}}
            </div>
              <div class="" style="margin-top:10px;">
                {{#each reklama}}
                <a target="_blank" href="{{{content}}}">
                    <img src="{{{image.secure_url}}}" class="reklamaBlock-img" alt="reklamaBlock">
                </a>
                {{/each}}
              </div>
              <!-- <div class="reklamaBlock">


                <div id="yandex_rtb_R-A-484761-1"></div>

                <div id="yandex_rtb_R-A-484761-2"></div>
                <script type="text/javascript">
                    (function(w, d, n, s, t) {
                        w[n] = w[n] || [];
                        w[n].push(function() {
                            Ya.Context.AdvManager.render({
                                blockId: "R-A-484761-2",
                                renderTo: "yandex_rtb_R-A-484761-2",
                                async: true
                            });
                        });
                        t = d.getElementsByTagName("script")[0];
                        s = d.createElement("script");
                        s.type = "text/javascript";
                        s.src = "//an.yandex.ru/system/context.js";
                        s.async = true;
                        t.parentNode.insertBefore(s, t);
                    })(this, this.document, "yandexContextAsyncCallbacks");
                </script>
              </div> -->
          </div>
        </div>

        </div>

    </div>

    <div class="container" style="margin-top:20px;">

    </div>


</section>
